:root {
    --color-background: black;
    --color-call-active: red;
    --color-call-inactive: green;
    --color-text: white;

    --size-cards-gap: 16px
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
    height: 100vh;

    background-color: var(--color-background);
    color: var(--color-text);

    font-family: Arial, Helvetica, sans-serif;
}

.status-cards-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;

    padding: var(--size-cards-gap);
    gap: var(--size-cards-gap);
}

.status-card {
    width: calc(50% - var(--size-cards-gap)/2);
    max-height: calc(100% - var(--size-cards-gap)/2);

    box-sizing: border-box;
    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
.status-card__active {
    background-color: var(--color-call-active);
}
.status-card__inactive {
    background-color: var(--color-call-inactive);
}

.status-card_title {
    margin: 0;
}

.status-card_devices-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.status-card_device {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.status-card_device_identifier {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.status-card_device_identifier_name {
    margin: 0
}

.status-card_device_features-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 4px;
    flex-direction: row;
    align-items: center;
}

.status-card_device_feature {
    display: flex;
}
