{{define "content"}}

<div class="status-cards-container">
    {{range .CallStatus}}
        <div class="status-card {{- if eq .State $.Constants.CallStateActive}} status-card__active {{else}} status-card__inactive {{end}}">
            <h2 class="status-card_title">
                {{ .User.Name }}
            </h2>

            <ul class="status-card_devices-list">
                {{range .Devices}}
                    <li class="status-card_device">
                        <div class="status-card_device_identifier">
                            <img src="/static/icons/device_{{ printf "%s" .Type }}.svg">
                            <h4 class="status-card_device_identifier_name">{{ .Name }}</h4>
                        </div>

                        <ul class="status-card_device_features-list">
                            {{range .Features}}
                                <li class="status-card_device_feature">
                                    <img src="/static/icons/device_feature_{{ printf "%s" .Type }}_{{ printf "%s" .Status }}.svg">
                                </li>
                            {{end}}
                        </ul>
                    </li>
                {{end}}
            </ul>
        </div>
    {{end}}
</div>

{{end}}
